.sidebar-contents-top {
}

.sidebar-contents-top h1 {
    font-family: Quicksand, sans-serif;
    margin-left: 1rem;
    color: black;
    font-size: 1.8rem;
    margin-bottom: 5rem;
}

.sidebar-contents-top-navigation-content {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;

}
