@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;700&display=swap');

.sidebar {
    width: 14%;
    height: 100vh;
    background-color: var(--sidebar-colour);
}

.sidebar-contents {
    position: sticky;
    max-height: 1080px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
