@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

:root {
    --primary-color: #732FA9;
    --main-background-colour: #F9F9F9;
    --sidebar-colour: #FFFFFF;
}

* {
    font-family: Quicksand, sans-serif;
}

.page {
    display: flex;
    flex-direction: row;
}
